# Everything needed in production

# Flask
Flask
MarkupSafe
Werkzeug
Jinja2
itsdangerous

# Database
Flask-SQLAlchemy
SQLAlchemy
pymysql

# Migrations
Flask-Migrate

# Forms
Flask-WTF
WTForms

# Deployment
gunicorn

# Assets
Flask-Assets
cssmin
jsmin

# Auth
Flask-Login
Flask-Bcrypt

# Caching
Flask-Cache

# Debug toolbar
Flask-DebugToolbar

# Forgotten Password
Flask-Mail
markdown